@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #fff;
    --sc-color: #7d2ae8;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}
.container{
    padding: 2rem 7rem;
    border-radius: 14px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    background: var(--bg-color);
}
.result_images{
    display: flex;
    column-gap: 7rem;
}
.container.start .user_result{
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
    50%{
        transform: rotate(10deg);
    }
}
.container.start .cpu_result{
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50%{
        transform: rotate(-10deg);
    }
}
.result_images img{
    width: 100px;
}
.user_result img{
    transform: rotate(90deg);
}
.cpu_result img{
    transform: rotate(-90deg) rotateY(180deg);
}
.result{
    text-align: center;
    font-size: 2rem;
    color: var(--sc-color);
    margin-top: 1.5rem;
    font-weight: 500;
}
.option_image img{
    width: 50px;
}
.option_images{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.option_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.container.start .option_images{
    pointer-events: none;
}
.option_image:hover{
    opacity: 1;
}
.option_image.active{
    opacity: 1;
}
.option_image img{
    pointer-events: none;
}
.option_image p{
    color: var(--sc-color);
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}